<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos avisando que o email de sua conta foi alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos avisando que o email de sua conta foi alterado para <%= @resource.email %>.</p>
<% end %>
