<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a troca de senha. Você pode alterá-la no link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou por favor ignore esta mensagem.</p>
<p>Sua senha não será alterada até que você clique no link acima e cadastre uma nova.</p>
