<p>Olá <%= @resource.email %>!</p>

<p>Seu acesso foi bloqueado devido a inúmeras tentativas mal sucedidas.</p>

<p>Click no link abaixo para desbloquear:</p>

<p><%= link_to 'Desbloquear meu acesso', unlock_url(@resource, unlock_token: @token) %></p>
